@font-face {
    font-family: "Rilakkuma"; 
    src: url('http://static.tumblr.com/npggxjg/Muhmlvatg/rilakkuma.ttf');
}

body {
    font-family: "Rilakkuma";
    font-size: 40px;
    color: rgb(214, 7, 214);
    text-align: center;
    background-image: url("https://wallpapertag.com/wallpaper/full/d/2/6/605121-cool-animals-wallpapers-1920x1080-laptop.jpg");
}

#add-animal {
    background-color: purple;
}